@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\000032}}
.parallax-container {
  height: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\000037}}
nav {
  background-color: #EC407A !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000311}}
hr {
  border-color: #EC407A;
  background-color: #EC407A;
  border: 0;
  height: 3px;
  width: 30%;
  margin: 15px 0;
  display: block;
}
@media screen and (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000311}}
  hr {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000311}}
  hr {
    width: 70%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000328}}
.hero-content {
  position: relative;
  top: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000332}}
.hero-content h1 {
  color: #F06292 !important;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000337}}
.hero-content h5 {
  color: #fff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000342}}
.is-checked {
  background-color: #EC407A !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000345}}
.is-checked:hover {
  background-color: #F06292;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000350}}
.work-btn {
  background-color: #37474F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000353}}
.work-btn:hover {
  background-color: #90A4AE;
}
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000350}}
  .work-btn {
    display: block;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kyotokat\/Desktop\/server\/portfolio\/sass\/main\.scss}line{font-family:\0000361}}
.footer-copyright {
  background-color: #ee6e73 !important;
}

/*# sourceMappingURL=main.css.map */
